<template>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" ref="createModal" data-backdrop="static"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Section</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mx-3">
                        <div class="form-group">
                            <label> Name</label>
                            <input type="text" class="form-control" placeholder="Name" v-model="form.name">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea2">Description</label>
                            <textarea class="form-control rounded-0"
                                      id="exampleFormControlTextarea2"
                                      rows="4"
                                      v-model="form.description"
                                      placeholder="Description">
                            </textarea>
                        </div>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input"
                                       id="inputGroupFile01"
                                       ref="myFiles"
                                       @change="onFileChanged"
                                       aria-describedby="inputGroupFileAddon01"
                                       multiple
                                >
                                <label class="custom-file-label"
                                       for="inputGroupFile01">Choose file
                                </label>
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <h3>
                                User list
                            </h3>
                            <div class="custom-control custom-checkbox" v-for="(user,i) in users" :key="i">
                                <input type="checkbox"
                                       class="custom-control-input"
                                       :id="'defaultInline'+i"
                                       v-model="form.users"
                                       :value="user.id">
                                <label class="custom-control-label"
                                       :for="'defaultInline'+i">
                                    {{user.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                            @click="cancel()">
                        cancel
                    </button>
                    <button type="button"
                            class="btn btn-primary"
                            @click="create">
                        Create
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import form from './mixin/form'

    export default {
        name: 'CreationForm',
        mixins: [
            form
        ],
        data () {
            return {}
        },

        methods: {
            create () {
                let formData = this.generateForm()
                this.axios.post('sections/store', formData,{
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    this.$emit('success', response.data);
                    $('#exampleModal').modal('hide');
                    $('.modal-backdrop').remove();

                }).catch(error=> {
                    this.active = false;
                    this.errors = error.response.data.errors;
                })
            },
            cancel () {
                this.errors ={ };
            }
        },


    }
</script>

<style scoped>

</style>
