<template>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"  ref="editModal"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Section</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="cancel">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" >
                    <div class="mx-3" >
                        <div class="form-group" :class="errors['form.name'] ? 'was-validated': ''">
                            <label > Name</label>
                            <input type="text" class="form-control" placeholder="Name" name="name" v-model="form.name" required >
                            <div class="is-invalid text-danger" v-if="errors['form.name']"  >
                              {{errors['form.name'][0]}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea2">Description</label>
                            <textarea class="form-control rounded-0"
                                      id="exampleFormControlTextarea2"
                                      rows="4"
                                      v-model="form.description"
                                      placeholder="Description"
                          >
                            </textarea>
                        </div>

                        <div class="form-group" :class="errors.image ? 'was-validated': ''">
                            <label>Logo</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                </div>
                                <div class="custom-file" >
                                    <input type="file" class="custom-file-input"
                                           id="inputGroupFile01"
                                           ref="myFiles"
                                           aria-describedby="inputGroupFileAddon01"
                                           @change="onFileChanged"
                                           multiple
                                    >
                                    <label class="custom-file-label"
                                           for="inputGroupFile01">Choose file
                                    </label>
                                </div>

                            </div>
                            <div class="is-invalid text-danger" v-if="errors.image"  >
                                {{errors.image[0]}}
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <div class="custom-control custom-checkbox" v-for="(user,i) in users" :key="i">
                                <input type="checkbox" class="custom-control-input"
                                       :id="'defaultInline'+i"
                                       v-model="form.users"
                                       :value="user.id">
                                <label class="custom-control-label"
                                       :for="'defaultInline'+i">{{user.name}}
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="cancel">cancel</button>
                    <button type="button" class="btn btn-primary" @click="update">Update</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import form from './mixin/form'

    export default {
        name: 'EditingForm',
        props: [
            'itemId'
        ],
        mixins: [
            form
        ],
        beforeMount() {
            this.getSingle(this.itemId);
        },
        methods: {
            update () {
                let formData = this.generateForm()

                this.axios.post(`sections/${this.itemId}`, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    this.$emit('success');
                    $('#exampleModalCenter').modal('hide');
                    $('.modal-backdrop').remove();
                }).catch(error => {

                    this.errors = error.response.data.errors;

                })
            },
            getSingle () {
                this.axios.get(`sections/${this.itemId}/edit`).then(response => {
                    this.form = response.data
                })
            },
            cancel () {
                this.active = false;
                this.errors = {}
            }
        },
        watch: {
            itemId: {
                deep: true,
                handler (val) {
                    if (!val) {
                        return false
                    }

                    this.getSingle(val)
                }
            }
        }
    }
</script>

<style scoped>

</style>
