<template>
    <div v-if="!loading">

        <div class="alert alert-danger" role="alert" v-if="itemDeleted">
            Section deleted successfully
        </div>

        <div class="mb-3 text-right">
            <button class="btn btn-primary"  data-toggle="modal" data-target="#exampleModal" @click="add">
                Add
            </button>
        </div>

        <table class="table" v-if="!loading">
            <tbody>
            <tr v-for="(item,key) in items" :key="key">
                <td><img :src="item.logoPath" alt="some.img" width="auto" height="80px"></td>
                <td style="width: 50%">
                    <h4> {{item.name}}</h4>
                    {{item.description}}
                </td>
                <td >
                    <div style="width: 100%;" v-for="(user, id) in item.users" :key="id">{{user.name}}</div>
                </td>
                <td>
                    <button class="btn btn-secondary " data-toggle="modal" data-target="#exampleModalCenter" @click="edit(item.id)"> Edit</button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" @click="remove(item.id)"> Delete</button>
                </td>
            </tr>

            </tbody>
        </table>

        <div>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item "
                        :class=" pagination.page == 1 ? 'disabled' : ''"
                    >
                        <button class="page-link"
                                href="#"
                                tabindex="-1"
                                @click="prev">
                            Previous
                        </button>
                    </li>
                    <li class="page-item" v-for="page in paginationCount" :key="page" :class="{active: pagination.page === page}">
                        <span class="page-link" @click="paginate(page)" >{{page}}</span>
                    </li>
                    <li :class="pagination.page == paginationCount ? 'page-item disabled' : 'page-item'">
                        <button class="page-link" href="#" @click="next">Next</button>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="editing_form">
            <editing-form v-if="activeId"
                          :item-id="activeId"
                          @success="updated"
            >
            </editing-form>
        </div>
        <div class="creation_form">
            <creation-form v-if="openCreation"
                           @success="created"
                          >
            </creation-form>
        </div>
        <div class="deleteItem">
            <delete-item v-if="openPrompt"
                         :item-id="activeId"
                         @success="deleted"
                         >
            </delete-item>
        </div>
    </div>
</template>

<script>
    import EditingForm from './EditingForm';
    import CreationForm from './CreationForm';
    import DeleteItem from './DeleteItem';
    export default {
        name: "SectionList",
        data() {
            return {
                items: [],
                openCreation: false,
                openEditing: false,
                openPrompt:false,
                activeId: null,
                loading: false,
                pagination: {
                    page: 1,
                },
                paginationCount: 1,
                itemDeleted: false,
                itemCreated: false,
                itemUpdated: false,
            }
        },
        components: {
            EditingForm,
            CreationForm,
            DeleteItem
        },
        beforeMount() {
            this.getData()
        },
        methods: {
            getData() {
                this.loading = true;
                this.axios.get('sections/get', {params: this.pagination}).then((response) => {
                    this.loading = false;
                    this.items = response.data.data;
                    this.getPagination(response.data);
                }).catch(error => {

                })

            },
            getPagination(data) {
                this.pagination.page = data.current_page;
                this.pagination.per_page = data.per_page;
                this.pagination.total = data.total;
                this.paginationCount = Math.ceil(data.total / data.per_page);
            },
            paginate( page) {
                this.pagination.page = page;
                this.getData();
            },
            next() {
                this.pagination.page++;
                this.getData()
            },
            prev() {
                this.pagination.page--;
                this.getData()
            },
            edit(id) {
                this.openEditing = true;
                this.activeId = id
            },
            remove(id) {
                this.openPrompt = true;
                this.activeId = id
            },
            add() {
                this.openCreation = true;
            },
            created() {
                this.getData();
            },
            updated() {
                this.getData();
            },
            deleted() {
                this.getData();
                this.itemDeleted = true;
                setTimeout(()=> {
                    this.itemDeleted = false;
                },3000)
            }
        }

    }
</script>

<style scoped>

</style>
